
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00467F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A5CC82, #00467F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A5CC82, #00467F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.calculator {
  background: #ffffff;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
}

.calculator-display {
  background: black;
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px 10px 0 0;
}

.calculator-display h1 {
  margin: 0;
  padding: 25px;
  font-size: 45px;
  font-family: 'Lucida Console', sans-serif;
  font-weight: 100;
  overflow-x: auto;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
  background: rgb(177, 177, 177); 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(129, 129, 129); 
}

/* Buttons */
.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

button {
  min-height: 50px;
  font-size: 20px;
  font-weight: 100;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: rgb(200, 200, 200);
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transition: ease;
  transform: translateY(1px);
  box-shadow: 0px -1px 1px 1px #888888;
}

button:focus {
  outline: none;
}

.memory {
  min-height: 40px;
  background: rgb(100, 100, 100);
  color: white;
}

.operator {
  background: gray;
  color: white;
  font-size: 30px;
}

.clear {
  background: orange;
  color: white;
}

.clear:hover {
  filter: brightness(90%);
}

.equals-sign {
  grid-column: -2;
  grid-row: 3 / span 4;
  background: rgb(13, 206, 87);
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .calculator {
    width: 95%;
  }
}